# Table of Contents

1. Importing Libraries
2. Importing Dataframes
3. Data Cleaning & Wrangling for 2015
4. Data Cleaning & Wrangling for 2016
5. Data Cleaning & Wrangling for 2017
6. Data Cleaning & Wrangling for 2018
7. Data Cleaning & Wrangling for 2019
8. Data Cleaning & Wrangling for 2020
9. Data Cleaning & Wrangling for 2021
10. Data Cleaning & Wrangling for 2022
11. Merging Dataflames
12. Descriptive Statistics
13. Exporting Cleaned Dataframe

### 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np 
import os

### 2. Importing Dataframe

In [2]:
# Defining path
path = r'/Users/sina/Desktop/Projects/A6'

In [3]:
# importing customers DF
year15 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'), index_col = False)

In [4]:
year16 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'), index_col = False)

In [5]:
year17 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'), index_col = False)

In [6]:
year18 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'), index_col = False)

In [7]:
year19 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'), index_col = False)

In [8]:
year20 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2020.csv'), index_col = False)

In [9]:
year21 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2021.csv'), index_col = False)

In [10]:
year22 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2022.csv'), index_col = False)

### 3. Data Cleaning & Wrangling for 2015

In [11]:
# check the shape of the Dataframe
year15.shape

(158, 12)

In [12]:
# check the info of dataframe
year15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [13]:
# describe the data
year15.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [14]:
#remove unnecessary columns
year15.drop(['Standard Error'], axis=1, inplace=True)

In [15]:
year15.head(5)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [16]:
# add new column
year15 ['Year'] = 2015

In [17]:
year15.head(5)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [18]:
# rename columns
year15.rename(columns = {'Happiness Rank':'Rank', 'Family':'Family (Social Support)', 'Freedom':'Freedom (Life Choices)', 'Generosity': 'Generosity (Donations to Charity)'}, inplace = True)

In [19]:
year15.head(5)

,Country,Region,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [20]:
#change the order of columns

year15 = year15[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)', 'Dystopia Residual']]

In [21]:
year15.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,3,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,4,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,5,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [22]:
year15.drop(['Dystopia Residual'], axis=1, inplace=True)

In [23]:
# checking the null data
year15.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [24]:
# check for duplicates

year15[year15.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [25]:
# drop the other missing values
year15_clean = year15.dropna()

In [26]:
year15_clean.shape

(158, 11)

In [27]:
year15_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,158.000000,158.0,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,2015.0,5.375734,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296
std,45.754363,0.0,1.145010,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685
min,1.000000,2015.0,2.839000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.250000,2015.0,4.526000,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553
50%,79.500000,2015.0,5.232500,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130
75%,118.750000,2015.0,6.243750,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883
max,158.000000,2015.0,7.587000,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880

In [28]:
year15_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               158 non-null    int64
 1   Year                               158 non-null    int64
 2   Country                            158 non-null    object
 3   Region                             158 non-null    object
 4   Happiness Score                    158 non-null    float64
 5   Economy (GDP per Capita)           158 non-null    float64
 6   Family (Social Support)            158 non-null    float64
 7   Health (Life Expectancy)           158 non-null    float64
 8   Freedom (Life Choices)             158 non-null    float64
 9   Trust (Government Corruption)      158 non-null    float64
 10  Generosity (Donations to Charity)  158 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.7+ KB

In [29]:
#Export df_ords
year15_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year15_clean.csv'))

### 4. Data Cleaning & Wrangling for 2016

In [30]:
# check the shape of the Dataframe
year16.shape

(157, 13)

In [31]:
# check the info of dataframe
year16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [32]:
#remove unnecessary columns
year16.drop(['Lower Confidence Interval', 'Upper Confidence Interval'], axis=1, inplace=True)

In [33]:
year16.head(5)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [34]:
# rename columns
year16.rename(columns = {'Happiness Rank':'Rank', 'Family':'Family (Social Support)', 'Freedom':'Freedom (Life Choices)', 'Generosity': 'Generosity (Donations to Charity)'}, inplace = True)

In [35]:
# add new column
year16 ['Year'] = 2016

In [36]:
#change the order of columns

year16 = year16[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)', 'Dystopia Residual']]

In [37]:
# dropping unnecessary column for merge
year16.drop(['Dystopia Residual'], axis=1, inplace=True)

In [38]:
year16.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2016,Denmark,Western Europe,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,2,2016,Switzerland,Western Europe,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,3,2016,Iceland,Western Europe,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,4,2016,Norway,Western Europe,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,5,2016,Finland,Western Europe,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [39]:
# checking the null data
year16.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [40]:
# check for duplicates
year16[year16.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [41]:
# drop the other missing values
year16_clean = year16.dropna()

In [42]:
year16_clean.shape

(157, 11)

In [43]:
year16_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,157.000000,157.0,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,2016.0,5.382185,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635
std,45.466030,0.0,1.141674,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756
min,1.000000,2016.0,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,2016.0,4.404000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570
50%,79.000000,2016.0,5.314000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450
75%,118.000000,2016.0,6.269000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850
max,157.000000,2016.0,7.526000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710

In [44]:
year16_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               157 non-null    int64
 1   Year                               157 non-null    int64
 2   Country                            157 non-null    object
 3   Region                             157 non-null    object
 4   Happiness Score                    157 non-null    float64
 5   Economy (GDP per Capita)           157 non-null    float64
 6   Family (Social Support)            157 non-null    float64
 7   Health (Life Expectancy)           157 non-null    float64
 8   Freedom (Life Choices)             157 non-null    float64
 9   Trust (Government Corruption)      157 non-null    float64
 10  Generosity (Donations to Charity)  157 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.6+ KB

In [45]:
# Export df_ords
year16_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year16_clean.csv'))

### 5. Data Cleaning & Wrangling for 2017

In [46]:
# check the shape of the Dataframe
year17.shape

(155, 12)

In [47]:
# check the info of dataframe
year17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [48]:
#remove unnecessary columns
year17.drop(['Whisker.high', 'Whisker.low'], axis=1, inplace=True)

In [49]:
# add new column
year17 ['Year'] = 2017

In [50]:
year17.head(5)

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [51]:
# rename columns
year17.rename(columns = {'Happiness.Rank':'Rank', 'Happiness.Score':'Happiness Score', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 'Family':'Family (Social Support)', 'Health..Life.Expectancy.':'Health (Life Expectancy)','Freedom':'Freedom (Life Choices)', 'Generosity': 'Generosity (Donations to Charity)', 'Trust..Government.Corruption.':'Trust (Government Corruption)'}, inplace = True)

In [52]:
year17.head()

,Country,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Dystopia.Residual,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [53]:
# Correcting country name 
year17['Country'] = year17['Country'].replace('South Sudan', 'Sudan')

In [54]:
year17['Country'] = year17['Country'].replace('Taiwan Province of China', 'Taiwan')

In [55]:
year17['Country'] = year17['Country'].replace('Hong Kong S.A.R., China', 'Hong Kong')

In [56]:
# derive Region according to country names using loc()
year17.loc[year17['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [57]:
year17.loc[year17['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [58]:
year17.loc[year17['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [59]:
year17.loc[year17['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [60]:
year17.loc[year17['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [61]:
year17.loc[year17['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [62]:
year17.loc[year17['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [63]:
year17.loc[year17['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [64]:
year17.loc[year17['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe']), 'Region'] = 'Sub-Saharan Africa'

In [65]:
year17.loc[year17['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [66]:
year17.head(5)

,Country,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Dystopia.Residual,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,Western Europe

In [67]:
year17.rename(columns = {'Dystopia.Residual': 'Dystopia Residual'}, inplace = True)

In [68]:
year17 = year17[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)', 'Dystopia Residual']]

In [69]:
# dropping unnecessary column for merge
year17.drop(['Dystopia Residual'], axis=1, inplace=True)

In [70]:
year17.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2017,Norway,Western Europe,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,2,2017,Denmark,Western Europe,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,3,2017,Iceland,Western Europe,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,4,2017,Switzerland,Western Europe,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,5,2017,Finland,Western Europe,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [71]:
# checking the null data
year17.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               4
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [72]:
print("Missing Data:\n", year17[year17.isnull().any(axis=1)])

Missing Data:
      Rank  Year    Country Region  Happiness Score  Economy (GDP per Capita)  \
49     50  2017     Belize    NaN            5.956                  0.907975
81     82  2017  Venezuela    NaN            5.250                  1.128431
92     93  2017    Somalia    NaN            5.151                  0.022643
110   111  2017    Namibia    NaN            4.574                  0.964434

     Family (Social Support)  Health (Life Expectancy)  \
49                  1.081418                  0.450192
81                  1.431338                  0.617144
92                  0.721151                  0.113989
110                 1.098471                  0.338612

     Freedom (Life Choices)  Trust (Government Corruption)  \
49                 0.547509                       0.096581
81                 0.153997                       0.064491
92                 0.602127                       0.282410
110                0.520304                       0.093147

     Generosity (Donations to Charity)
49                            0.240016
81                            0.065020
92                            0.291631
110                           0.077134

In [73]:
# Correcting missing data
year17.loc[year17['Country'].isin(['Belize', 'Venezuela']), 'Region'] = 'Latin America and Caribbean'

In [74]:
year17.loc[year17['Country'].isin(['Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [75]:
# checking the null data
year17.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [76]:
# check for duplicates
year17[year17.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [77]:
# drop the other missing values
year17_clean = year17.dropna()

In [78]:
year17_clean.shape

(155, 11)

In [79]:
year17_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,155.000000,155.0,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,2017.0,5.354019,0.984718,1.188898,0.551341,0.408786,0.123120,0.246883
std,44.888751,0.0,1.131230,0.420793,0.287263,0.237073,0.149997,0.101661,0.134780
min,1.000000,2017.0,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.500000,2017.0,4.505500,0.663371,1.042635,0.369866,0.303677,0.057271,0.154106
50%,78.000000,2017.0,5.279000,1.064578,1.253918,0.606042,0.437454,0.089848,0.231538
75%,116.500000,2017.0,6.101500,1.318027,1.414316,0.723008,0.516561,0.153296,0.323762
max,155.000000,2017.0,7.537000,1.870766,1.610574,0.949492,0.658249,0.464308,0.838075

In [80]:
year17_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               155 non-null    int64
 1   Year                               155 non-null    int64
 2   Country                            155 non-null    object
 3   Region                             155 non-null    object
 4   Happiness Score                    155 non-null    float64
 5   Economy (GDP per Capita)           155 non-null    float64
 6   Family (Social Support)            155 non-null    float64
 7   Health (Life Expectancy)           155 non-null    float64
 8   Freedom (Life Choices)             155 non-null    float64
 9   Trust (Government Corruption)      155 non-null    float64
 10  Generosity (Donations to Charity)  155 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.4+ KB

In [81]:
# Export df_ords
year17_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year17_clean.csv'))

### 6. Data Cleaning & Wrangling for 2018

In [82]:
# check the shape of the Dataframe
year18.shape

(156, 9)

In [83]:
# check the info of dataframe
year18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [84]:
# rename columns
year18.rename(columns = {'Overall rank':'Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family (Social Support)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Generosity':'Generosity (Donations to Charity)', 'Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [85]:
# add new column
year18 ['Year'] = 2018

In [86]:
# Correcting country name 
year18['Country'] = year18['Country'].replace('South Sudan', 'Sudan')
year18['Country'] = year18['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [87]:
# derive Region according to country names using loc()
year18.loc[year18['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'
year18.loc[year18['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [88]:
year18.loc[year18['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [89]:
year18.loc[year18['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [90]:
year18.loc[year18['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [91]:
year18.loc[year18['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'
year18.loc[year18['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'
year18.loc[year18['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'
year18.loc[year18['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [92]:
year18.loc[year18['Country'].isin(['North Cyprus','Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [93]:
year18.head(5)

,Rank,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Year,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,Western Europe

In [94]:
year18 = year18[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)']]

In [95]:
year18.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2018,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,2,2018,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,3,2018,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,4,2018,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,5,2018,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.357,0.256

In [96]:
# checking the null data
year18.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               1
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        1
Generosity (Donations to Charity)    0
dtype: int64

In [97]:
print("Missing Data:\n", year18[year18.isnull().any(axis=1)])

Missing Data:
     Rank  Year               Country                           Region  \
19    20  2018  United Arab Emirates  Middle East and Northern Africa
57    58  2018       Northern Cyprus                              NaN

    Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
19            6.774                     2.096                    0.776
57            5.835                     1.229                    1.211

    Health (Life Expectancy)  Freedom (Life Choices)  \
19                     0.670                   0.284
57                     0.909                   0.495

    Trust (Government Corruption)  Generosity (Donations to Charity)
19                            NaN                              0.186
57                          0.154                              0.179

In [98]:
# Fill specific missing string data
year18['Country'].fillna('Burundi', inplace=True)

In [99]:
print("Missing Data:\n", year18[year18.isnull().any(axis=1)])

Missing Data:
     Rank  Year               Country                           Region  \
19    20  2018  United Arab Emirates  Middle East and Northern Africa
57    58  2018       Northern Cyprus                              NaN

    Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
19            6.774                     2.096                    0.776
57            5.835                     1.229                    1.211

    Health (Life Expectancy)  Freedom (Life Choices)  \
19                     0.670                   0.284
57                     0.909                   0.495

    Trust (Government Corruption)  Generosity (Donations to Charity)
19                            NaN                              0.186
57                          0.154                              0.179

In [100]:
year18['Country'] = year18['Country'].replace('Northern Cyprus', 'North Cyprus')

In [101]:
year18.loc[year18['Country'].isin(['North Cyprus']), 'Region'] = 'Western Europe'

In [102]:
print("Missing Data:\n", year18[year18.isnull().any(axis=1)])

Missing Data:
     Rank  Year               Country                           Region  \
19    20  2018  United Arab Emirates  Middle East and Northern Africa

    Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
19            6.774                     2.096                    0.776

    Health (Life Expectancy)  Freedom (Life Choices)  \
19                      0.67                   0.284

    Trust (Government Corruption)  Generosity (Donations to Charity)
19                            NaN                              0.186

In [103]:
# check for duplicates
year18[year18.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [104]:
# drop the other missing values
year18_clean = year18.dropna()

In [105]:
year18_clean.shape

(155, 11)

In [106]:
year18_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,155.000000,155.0,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.877419,2018.0,5.366897,0.883677,1.216058,0.596877,0.455606,0.112000,0.180974
std,45.076463,0.0,1.117433,0.380942,0.301286,0.248312,0.162367,0.096492,0.098789
min,1.000000,2018.0,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.500000,2018.0,4.451500,0.612500,1.075500,0.420500,0.357500,0.051000,0.109000
50%,79.000000,2018.0,5.358000,0.940000,1.258000,0.643000,0.493000,0.082000,0.173000
75%,117.500000,2018.0,6.154000,1.192500,1.464000,0.778500,0.579000,0.137000,0.240000
max,156.000000,2018.0,7.632000,1.649000,1.644000,1.030000,0.724000,0.457000,0.598000

In [107]:
year18_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               155 non-null    int64
 1   Year                               155 non-null    int64
 2   Country                            155 non-null    object
 3   Region                             155 non-null    object
 4   Happiness Score                    155 non-null    float64
 5   Economy (GDP per Capita)           155 non-null    float64
 6   Family (Social Support)            155 non-null    float64
 7   Health (Life Expectancy)           155 non-null    float64
 8   Freedom (Life Choices)             155 non-null    float64
 9   Trust (Government Corruption)      155 non-null    float64
 10  Generosity (Donations to Charity)  155 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.5+ KB

In [108]:
# Export df_ords
year18_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year18_clean.csv'))

### 7. Data Cleaning & Wrangling for 2019

In [109]:
# check the shape of the Dataframe
year19.shape

(156, 9)

In [110]:
# check the info of dataframe
year19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [111]:
# add new column
year19 ['Year'] = 2019

In [112]:
# rename columns
year19.rename(columns = {'Overall rank':'Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family (Social Support)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Generosity':'Generosity (Donations to Charity)', 'Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [113]:
# Correcting country name 
year19['Country'] = year19['Country'].replace('Northern Cyprus', 'North Cyprus')
year19['Country'] = year19['Country'].replace('North Macedonia', 'Macedonia')

In [114]:
# Correcting country name 
year19['Country'] = year19['Country'].replace('South Sudan', 'Sudan')
year19['Country'] = year19['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [115]:
#derive Region according to country names using loc()
year19.loc[year19['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'
year19.loc[year19['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'
year19.loc[year19['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'
year19.loc[year19['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'
year19.loc[year19['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'
year19.loc[year19['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'
year19.loc[year19['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'
year19.loc[year19['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'
year19.loc[year19['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Gambia','Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'
year19.loc[year19['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [116]:
#change the order of columns
year19 = year19[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)']]

In [117]:
# check for duplicates
year19[year19.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [118]:
year19.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2019,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2,2019,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,3,2019,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,4,2019,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,5,2019,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [119]:
# checking the null data
year19.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [120]:
# check for duplicates
year19[year19.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [121]:
# drop the other missing values
year19_clean = year19.dropna()

In [122]:
year19_clean.shape

(156, 11)

In [123]:
year19_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,156.000000,156.0,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,2019.0,5.407096,0.905147,1.208814,0.725244,0.392571,0.110603,0.184846
std,45.177428,0.0,1.113120,0.398389,0.299191,0.242124,0.143289,0.094538,0.095254
min,1.000000,2019.0,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,2019.0,4.544500,0.602750,1.055750,0.547750,0.308000,0.047000,0.108750
50%,78.500000,2019.0,5.379500,0.960000,1.271500,0.789000,0.417000,0.085500,0.177500
75%,117.250000,2019.0,6.184500,1.232500,1.452500,0.881750,0.507250,0.141250,0.248250
max,156.000000,2019.0,7.769000,1.684000,1.624000,1.141000,0.631000,0.453000,0.566000

In [124]:
year19_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               156 non-null    int64
 1   Year                               156 non-null    int64
 2   Country                            156 non-null    object
 3   Region                             156 non-null    object
 4   Happiness Score                    156 non-null    float64
 5   Economy (GDP per Capita)           156 non-null    float64
 6   Family (Social Support)            156 non-null    float64
 7   Health (Life Expectancy)           156 non-null    float64
 8   Freedom (Life Choices)             156 non-null    float64
 9   Trust (Government Corruption)      156 non-null    float64
 10  Generosity (Donations to Charity)  156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [125]:
# Export df_ords
year19_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year19_clean.csv'))

### 8. Data Cleaning & Wrangling for 2020

In [126]:
# check the shape of the Dataframe
year20.shape

(153, 20)

In [127]:
# check the info of dataframe
year20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                153 non-null    object
 1   Regional indicator                          153 non-null    object
 2   Ladder score                                153 non-null    float64
 3   Standard error of ladder score              153 non-null    float64
 4   upperwhisker                                153 non-null    float64
 5   lowerwhisker                                153 non-null    float64
 6   Logged GDP per capita                       153 non-null    float64
 7   Social support                              153 non-null    float64
 8   Healthy life expectancy                     153 non-null    float64
 9   Freedom to make life choices                153 non-null    float64
 10  Generosity                                  153 non-null    float64
 11  Perceptions of corruption                   153 non-null    float64
 12  Ladder score in Dystopia                    153 non-null    float64
 13  Explained by: Log GDP per capita            153 non-null    float64
 14  Explained by: Social support                153 non-null    float64
 15  Explained by: Healthy life expectancy       153 non-null    float64
 16  Explained by: Freedom to make life choices  153 non-null    float64
 17  Explained by: Generosity                    153 non-null    float64
 18  Explained by: Perceptions of corruption     153 non-null    float64
 19  Dystopia + residual                         153 non-null    float64
dtypes: float64(18), object(2)
memory usage: 24.0+ KB

In [128]:
# add new column
year20 ['Year'] = 2020

In [129]:
year20.head(5)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,...,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,...,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,2020
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,...,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,2020
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,...,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,2020

In [130]:
#remove unnecessary columns
year20.drop(['Standard error of ladder score', 'upperwhisker','lowerwhisker', 'Logged GDP per capita', 'Social support','Healthy life expectancy','Freedom to make life choices', 'Generosity', 'Perceptions of corruption','Ladder score in Dystopia'], axis=1, inplace=True)

In [131]:
year20.head(5)

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,2020
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,2020
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,2020

In [132]:
# rename columns
year20.rename(columns = {'Country name':'Country', 'Regional indicator':'Region', 'Ladder score':'Happiness Score', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Generosity (Donations to Charity)', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [133]:
# Add the "Rank" column
year20['Rank'] = range(1, len(year20) + 1)

In [134]:
year20.head(5)

,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Dystopia + residual,Year,Rank
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020,1
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020,2
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,2020,3
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,2020,4
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,2020,5

In [135]:
#remove unnecessary columns
year20.drop(['Dystopia + residual'], axis=1, inplace=True)

In [136]:
#change the order of columns
year20 = year20[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)']]

In [137]:
year20.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2020,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670
1,2,2020,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793
2,3,2020,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056
3,4,2020,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330
4,5,2020,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985

In [138]:
# checking the null data
year20.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [139]:
# check for duplicates
year20[year20.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [140]:
# drop the other missing values
year20_clean = year20.dropna()

In [141]:
year20_clean.shape

(153, 11)

In [142]:
year20_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,153.000000,153.0,153.00000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,77.000000,2020.0,5.47324,0.868771,1.155607,0.692869,0.463583,0.130718,0.189375
std,44.311398,0.0,1.11227,0.372416,0.286866,0.254094,0.141172,0.113097,0.100401
min,1.000000,2020.0,2.56690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,2020.0,4.72410,0.575862,0.986718,0.495443,0.381457,0.055805,0.115006
50%,77.000000,2020.0,5.51500,0.918549,1.203987,0.759818,0.483293,0.098435,0.176745
75%,115.000000,2020.0,6.22850,1.169229,1.387139,0.867249,0.576665,0.163064,0.255510
max,153.000000,2020.0,7.80870,1.536676,1.547567,1.137814,0.693270,0.533162,0.569814

In [143]:
year20_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               153 non-null    int64
 1   Year                               153 non-null    int64
 2   Country                            153 non-null    object
 3   Region                             153 non-null    object
 4   Happiness Score                    153 non-null    float64
 5   Economy (GDP per Capita)           153 non-null    float64
 6   Family (Social Support)            153 non-null    float64
 7   Health (Life Expectancy)           153 non-null    float64
 8   Freedom (Life Choices)             153 non-null    float64
 9   Trust (Government Corruption)      153 non-null    float64
 10  Generosity (Donations to Charity)  153 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.3+ KB

In [144]:
# Export df_ords
year20_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year20_clean.csv'))

### 9. Data Cleaning & Wrangling for 2021

In [145]:
# check the shape of the Dataframe
year21.shape

(149, 20)

In [146]:
# check the info of dataframe
year21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [147]:
# add new column
year21 ['Year'] = 2021

In [148]:
year21.head(5)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,...,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,...,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,...,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839,2021
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,...,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967,2021
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,...,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798,2021

In [149]:
#remove unnecessary columns
year21.drop(['Standard error of ladder score', 'upperwhisker','lowerwhisker', 'Logged GDP per capita', 'Social support','Healthy life expectancy','Freedom to make life choices', 'Generosity', 'Perceptions of corruption','Ladder score in Dystopia'], axis=1, inplace=True)

In [150]:
year21.head(5)

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839,2021
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967,2021
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798,2021

In [151]:
# rename columns
year21.rename(columns = {'Country name':'Country', 'Regional indicator':'Region', 'Ladder score':'Happiness Score', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Generosity (Donations to Charity)', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [152]:
# Add the "Rank" column
year21['Rank'] = range(1, len(year21) + 1)

In [153]:
#remove unnecessary columns
year21.drop(['Dystopia + residual'], axis=1, inplace=True)

In [154]:
#change the order of columns
year21 = year21[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)']]

In [155]:
year21.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2021,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.481,0.124
1,2,2021,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.485,0.208
2,3,2021,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.413,0.204
3,4,2021,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.170,0.293
4,5,2021,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.384,0.302

In [156]:
# checking the null data
year21.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [157]:
# check for duplicates
year21[year21.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [158]:
# drop the other missing values
year21_clean = year21.dropna()

In [159]:
year21_clean.shape

(149, 11)

In [160]:
year21_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,149.000000,149.0,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,75.000000,2021.0,5.532839,0.977161,0.793315,0.520161,0.498711,0.135141,0.178047
std,43.156691,0.0,1.073924,0.404740,0.258871,0.213019,0.137888,0.114361,0.098270
min,1.000000,2021.0,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,38.000000,2021.0,4.852000,0.666000,0.647000,0.357000,0.409000,0.060000,0.105000
50%,75.000000,2021.0,5.534000,1.025000,0.832000,0.571000,0.514000,0.101000,0.164000
75%,112.000000,2021.0,6.255000,1.323000,0.996000,0.665000,0.603000,0.174000,0.239000
max,149.000000,2021.0,7.842000,1.751000,1.172000,0.897000,0.716000,0.547000,0.541000

In [161]:
year21_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               149 non-null    int64
 1   Year                               149 non-null    int64
 2   Country                            149 non-null    object
 3   Region                             149 non-null    object
 4   Happiness Score                    149 non-null    float64
 5   Economy (GDP per Capita)           149 non-null    float64
 6   Family (Social Support)            149 non-null    float64
 7   Health (Life Expectancy)           149 non-null    float64
 8   Freedom (Life Choices)             149 non-null    float64
 9   Trust (Government Corruption)      149 non-null    float64
 10  Generosity (Donations to Charity)  149 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 12.9+ KB

In [162]:
# Export df_ords
year21_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year21_clean.csv'))

### 10. Data Cleaning & Wrangling for 2022

In [163]:
# check the shape of the Dataframe
year22.shape

(147, 12)

In [164]:
# check the info of dataframe
year22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   RANK                                        147 non-null    int64
 1   Country                                     147 non-null    object
 2   Happiness score                             146 non-null    object
 3   Whisker-high                                146 non-null    object
 4   Whisker-low                                 146 non-null    object
 5   Dystopia (1.83) + residual                  146 non-null    object
 6   Explained by: GDP per capita                146 non-null    object
 7   Explained by: Social support                146 non-null    object
 8   Explained by: Healthy life expectancy       146 non-null    object
 9   Explained by: Freedom to make life choices  146 non-null    object
 10  Explained by: Generosity                    146 non-null    object
 11  Explained by: Perceptions of corruption     146 non-null    object
dtypes: int64(1), object(11)
memory usage: 13.9+ KB

In [165]:
# add new column
year22 ['Year'] = 2022

In [166]:
year22.head(5)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534",2022
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532",2022
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191",2022
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461",2022
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419",2022

In [167]:
#remove unnecessary columns
year22.drop(['Whisker-high','Whisker-low', 'Dystopia (1.83) + residual'], axis=1, inplace=True)

In [168]:
year22.head(5)

,RANK,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534",2022
1,2,Denmark,"7,636","1,953","1,243","0,777","0,719","0,188","0,532",2022
2,3,Iceland,"7,557","1,936","1,320","0,803","0,718","0,270","0,191",2022
3,4,Switzerland,"7,512","2,026","1,226","0,822","0,677","0,147","0,461",2022
4,5,Netherlands,"7,415","1,945","1,206","0,787","0,651","0,271","0,419",2022

In [169]:
# rename columns
year22.rename(columns = {'RANK':'Rank', 'Happiness score':'Happiness Score', 'Explained by: GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Generosity (Donations to Charity)', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [170]:
year22.head(5)

,Rank,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Year
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534",2022
1,2,Denmark,"7,636","1,953","1,243","0,777","0,719","0,188","0,532",2022
2,3,Iceland,"7,557","1,936","1,320","0,803","0,718","0,270","0,191",2022
3,4,Switzerland,"7,512","2,026","1,226","0,822","0,677","0,147","0,461",2022
4,5,Netherlands,"7,415","1,945","1,206","0,787","0,651","0,271","0,419",2022

In [171]:
# Correcting country name 
year22['Country'] = year22['Country'].replace('Northern Cyprus', 'North Cyprus')
year22['Country'] = year22['Country'].replace('North Macedonia', 'Macedonia')
year22['Country'] = year22['Country'].replace('South Sudan', 'Sudan')
year22['Country'] = year22['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [172]:
# Correcting country name 
year22['Country'] = year22['Country'].replace('Luxembourg*', 'Luxembourg')
year22['Country'] = year22['Country'].replace('Czechia', 'Czech Republic')
year22['Country'] = year22['Country'].replace('Taiwan Province of China', 'Taiwan')
year22['Country'] = year22['Country'].replace('Guatemala*', 'Guatemala')
year22['Country'] = year22['Country'].replace('Kuwait*', 'Kuwait')
year22['Country'] = year22['Country'].replace('Belarus*', 'Belarus')
year22['Country'] = year22['Country'].replace('North Cyprus*', 'North Cyprus')
year22['Country'] = year22['Country'].replace('Hong Kong S.A.R. of China', 'Hong Kong')
year22['Country'] = year22['Country'].replace('Libya*', 'Libya')
year22['Country'] = year22['Country'].replace('Turkmenistan*', 'Turkmenistan')
year22['Country'] = year22['Country'].replace('Congo', 'Congo (Brazzaville)')
year22['Country'] = year22['Country'].replace('Niger*', 'Niger')
year22['Country'] = year22['Country'].replace('Comoros*', 'Comoros')
year22['Country'] = year22['Country'].replace('Palestinian Territories*', 'Palestinian Territories')
year22['Country'] = year22['Country'].replace('Eswatini, Kingdom of*', 'Eswatini, Kingdom of')
year22['Country'] = year22['Country'].replace('Madagascar*', 'Madagascar')
year22['Country'] = year22['Country'].replace('Chad*', 'Chad')
year22['Country'] = year22['Country'].replace('Yemen*', 'Yemen')
year22['Country'] = year22['Country'].replace('Mauritania*', 'Mauritania')
year22['Country'] = year22['Country'].replace('Lesotho*', 'Lesotho')
year22['Country'] = year22['Country'].replace('Botswana*', 'Botswana')
year22['Country'] = year22['Country'].replace('Rwanda*', 'Rwanda')
year22['Country'] = year22['Country'].replace('Azerbaijan*', 'Azerbaijan')
year22['Country'] = year22['Country'].replace('Gambia*', 'Gambia')
year22['Country'] = year22['Country'].replace('Liberia*', 'Liberia')

In [173]:
# derive Region according to country names using loc()
year22.loc[year22['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'
year22.loc[year22['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'
year22.loc[year22['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'
year22.loc[year22['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'
year22.loc[year22['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'
year22.loc[year22['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'
year22.loc[year22['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'
year22.loc[year22['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'
year22.loc[year22['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Gambia','Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'
year22.loc[year22['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [174]:
#change the order of columns
year22 = year22[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)']]

In [175]:
year22.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2022,Finland,Western Europe,"7,821","1,892","1,258","0,775","0,736","0,534","0,109"
1,2,2022,Denmark,Western Europe,"7,636","1,953","1,243","0,777","0,719","0,532","0,188"
2,3,2022,Iceland,Western Europe,"7,557","1,936","1,320","0,803","0,718","0,191","0,270"
3,4,2022,Switzerland,Western Europe,"7,512","2,026","1,226","0,822","0,677","0,461","0,147"
4,5,2022,Netherlands,Western Europe,"7,415","1,945","1,206","0,787","0,651","0,419","0,271"

In [176]:
# checking the null data
year22.isnull().sum()

Rank                                 0
Year                                 0
Country                              0
Region                               2
Happiness Score                      1
Economy (GDP per Capita)             1
Family (Social Support)              1
Health (Life Expectancy)             1
Freedom (Life Choices)               1
Trust (Government Corruption)        1
Generosity (Donations to Charity)    1
dtype: int64

In [177]:
print("Missing Data:\n", year22[year22.isnull().any(axis=1)])

Missing Data:
      Rank  Year               Country Region Happiness Score  \
124   125  2022  Eswatini, Kingdom of    NaN           4,396
146   147  2022                    xx    NaN             NaN

    Economy (GDP per Capita) Family (Social Support) Health (Life Expectancy)  \
124                    1,274                   0,786                    0,197
146                      NaN                     NaN                      NaN

    Freedom (Life Choices) Trust (Government Corruption)  \
124                  0,259                         0,154
146                    NaN                           NaN

    Generosity (Donations to Charity)
124                             0,038
146                               NaN

In [178]:
# Remove the missing data
year22 = year22.drop(124, axis=0)

In [179]:
year22 = year22.drop(146, axis=0)

In [180]:
print("Missing Data:\n", year22[year22.isnull().any(axis=1)])

Missing Data:
 Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [181]:
# check for duplicates
year22[year22.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

In [182]:
# drop the other missing values
year22_clean = year22.dropna()

In [183]:
year22_clean.shape

(145, 11)

In [184]:
year22_clean.describe()

             Rank    Year
count  145.000000   145.0
mean    73.144828  2022.0
std     42.218180     0.0
min      1.000000  2022.0
25%     37.000000  2022.0
50%     73.000000  2022.0
75%    109.000000  2022.0
max    146.000000  2022.0

In [185]:
# Convert the values in the 'col2' column from integers to strings and replace the comma with a decimal point
year22_clean['Happiness Score'] = year22_clean['Happiness Score'].astype(str).str.replace(',', '.').astype(float)
year22_clean['Economy (GDP per Capita)'] = year22_clean['Economy (GDP per Capita)'].astype(str).str.replace(',', '.').astype(float)
year22_clean['Family (Social Support)'] = year22_clean['Family (Social Support)'].astype(str).str.replace(',', '.').astype(float)
year22_clean['Health (Life Expectancy)'] = year22_clean['Health (Life Expectancy)'].astype(str).str.replace(',', '.').astype(float)
year22_clean['Freedom (Life Choices)'] = year22_clean['Freedom (Life Choices)'].astype(str).str.replace(',', '.').astype(float)
year22_clean['Trust (Government Corruption)'] = year22_clean['Trust (Government Corruption)'].astype(str).str.replace(',', '.').astype(float)
year22_clean['Generosity (Donations to Charity)'] = year22_clean['Generosity (Donations to Charity)'].astype(str).str.replace(',', '.').astype(float)

In [186]:
year22_clean.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2022,Finland,Western Europe,7.821,1.892,1.258,0.775,0.736,0.534,0.109
1,2,2022,Denmark,Western Europe,7.636,1.953,1.243,0.777,0.719,0.532,0.188
2,3,2022,Iceland,Western Europe,7.557,1.936,1.320,0.803,0.718,0.191,0.270
3,4,2022,Switzerland,Western Europe,7.512,2.026,1.226,0.822,0.677,0.461,0.147
4,5,2022,Netherlands,Western Europe,7.415,1.945,1.206,0.787,0.651,0.419,0.271

In [187]:
year22_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               145 non-null    int64
 1   Year                               145 non-null    int64
 2   Country                            145 non-null    object
 3   Region                             145 non-null    object
 4   Happiness Score                    145 non-null    float64
 5   Economy (GDP per Capita)           145 non-null    float64
 6   Family (Social Support)            145 non-null    float64
 7   Health (Life Expectancy)           145 non-null    float64
 8   Freedom (Life Choices)             145 non-null    float64
 9   Trust (Government Corruption)      145 non-null    float64
 10  Generosity (Donations to Charity)  145 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.6+ KB

In [188]:
# Export df_ords
year22_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'year22_clean.csv'))

### 11. Merging Dataflames

In [189]:
df_years = (year15_clean, year16_clean, year17_clean, year18_clean, year19_clean, year20_clean, year21_clean, year22_clean)

In [190]:
df_merged = pd.concat(df_years)

In [191]:
df_merged.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,3,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,4,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,5,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [193]:
#Exporting to ensure merge successful in Excel 
df_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '2Merged_dataset.csv'), index=False)

### 12. Data Cleaning

In [194]:
#Importing clean/merged dataset
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '2Merged_dataset.csv'), index_col = False)

In [195]:
df

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
0,1,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,3,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,4,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,5,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...,...
1223,142,2022,Botswana,Sub-Saharan Africa,3.471,1.50300,0.81500,0.28000,0.57100,0.10200,0.01200
1224,143,2022,Rwanda,Sub-Saharan Africa,3.268,0.78500,0.13300,0.46200,0.62100,0.54400,0.18700
1225,144,2022,Zimbabwe,Sub-Saharan Africa,2.995,0.94700,0.69000,0.27000,0.32900,0.10500,0.10600
1226,145,2022,Lebanon,Middle East and Northern Africa,2.955,1.39200,0.49800,0.63100,0.10300,0.03400,0.08200
1227,146,2022,Afghanistan,Southern Asia,2.404,0.75800,0.00000,0.28900,0.00000,0.00500,0.08900

In [196]:
#Checking dataframe rows and columns 
df.shape

(1228, 11)

In [197]:
# Renaming RANK column for 
df.rename(columns = {'Rank' : 'Country Rank'}, inplace = True)

In [198]:
#Checking for nulls 
df.isnull().sum()

Country Rank                         0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
dtype: int64

In [199]:
#Checking for duplicates
df_dups = df[df.duplicated()]
df_dups

Empty DataFrame
Columns: [Country Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity)]
Index: []

### 13. Descriptive Statistics

In [200]:
#Descriptive Statistics 
df.describe()

,Country Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity)
count,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000
mean,77.429967,2018.444625,5.429839,0.975100,1.033395,0.608417,0.441108,0.130737,0.201729
std,44.471587,2.282286,1.115219,0.434342,0.329637,0.241153,0.154388,0.110861,0.115520
min,1.000000,2015.000000,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,2016.000000,4.585500,0.667806,0.828750,0.439750,0.345750,0.056000,0.118000
50%,77.000000,2018.000000,5.410500,1.011155,1.069708,0.639427,0.459000,0.095833,0.187000
75%,116.000000,2020.000000,6.224075,1.295882,1.273887,0.790815,0.559135,0.164000,0.258651
max,158.000000,2022.000000,7.842000,2.209000,1.644000,1.141000,0.740000,0.587000,0.838075

In [201]:
#Checking for mixed-type columns 
df.dtypes

Country Rank                           int64
Year                                   int64
Country                               object
Region                                object
Happiness Score                      float64
Economy (GDP per Capita)             float64
Family (Social Support)              float64
Health (Life Expectancy)             float64
Freedom (Life Choices)               float64
Trust (Government Corruption)        float64
Generosity (Donations to Charity)    float64
dtype: object

### 14. Exporting Cleaned Dataframe

In [202]:
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '2Cleaned_dataset.csv'), index=False)